server:
  port: 5253
spring:
  application:
    name: API-GATEWAY

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: USER-MANAGEMENT
              uri: lb://USER-MANAGEMENT
              predicates:
                - Path=/v1/users/**, /v1/laptops/**, /v1/products/**

            - id: PRODUCT-SERVICE
              uri: lb://PRODUCT-SERVICE
              predicates:
                - Path=/v1/products/**

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    gateway:
      access: unrestricted
    health:
      show-details: always

eureka:
  client:
     service-url:
        defaultZone: http://localhost:8761/eureka


logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG




