server:
  port: 5253
spring:
  application:
    name: API-GATEWAY
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    gateway:
      access: unrestricted
    health:
      show-details: always